.add-product{
    &__container{
        z-index: 1;
        position: absolute;
        width: 300px;
        height: 200px;
        background: $white;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}