.admin-navigation{
    &__container{
        @include flex(column nowrap,space-evenly,center);
        width: 150px;
        height: 100vh;
        background: rgb(51, 51, 51); 
    }
    &__link{
        @include flex();
        width: 150px;
        height: 100px;
        color: $white;
        cursor: pointer;
    }
    &__logo{
        width: 75px;
        height: 75px;
        fill:$white;
    }
}